.page-season {
  color: #D0D0D0
}

.page-season__h1 {
  margin: 1rem;
  cursor: default;
  transition: color 0.25s;

  &:hover {
    color: lightcoral;
  }
}

.page-season__hr {
  margin: 1rem;
  // color: #D0D0D0
}