#app-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #F0F0F0;
  min-height: 8rem;
  padding: 2rem 4rem
}
  
#app-footer * {
  display: inline-block;
  margin: 4rem auto;
}
