#page-home {
  display: grid;
  grid-template-rows: 1fr auto auto 1fr;
  grid-template-columns: repeat(12, 1fr);
  background-image: url('../../../assets/images/app/home.jpg');
  text-shadow: #000000 1px 0 10px;
  font-family: Ubuntu, Futura;
}

#page-home__div-upper {
  display: inline-block;
  grid-row: 1 / span 2;
  grid-column: 1 / span 12;
  background-color: #000626DD;
}

#page-home__div-lower {
  display: inline-block;
  grid-row: 3 / span 2;
  grid-column: 1 / span 12;
  background-color: #3E260CDD;
}

#page-home__h1 {
  margin: 0.5rem auto;
  text-align: center;
  grid-column: 3 / span 4;
  grid-row: 2;
  color: goldenrod;
}

#page-home__h4 {
  margin: 0.5rem auto;
  text-align: center;
  grid-column: 3 / span 4;
  grid-row: 3;
  color: goldenrod;
}

#page-home__nav {
  grid-row: 2 / span 2;
  grid-column: 10 /span 3
}
